<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into member(login_id, password, nickname)
        values(#{loginId}, #{password}, #{nickname})
    </insert>
    <select id="getByLoginId" resultType="member" parameterType="String">
        select * from member
        where login_id = #{loginId}
    </select>
</mapper>