.card {
    /* 크기 */
    width: 388px;
    height:fit-content;
    margin: 0 10px 10px 0;
    padding: 0;
    border: solid black 1px;
    border-radius: 3%;
    box-sizing: content-box;
}

.img{
    width: inherit;
    height: 240px;
    border-radius: 3% 3% 0 0;
    margin: 0;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.title{
    overflow: hidden;
    width: 70%;
    font-size: 2rem;
}

.star{
    align-self:self-end;
}